<!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>

<div id="error-message"></div>

<script>
  (function () {
    var stripe = Stripe('<%= ENV['STRIPE_API_PUBLIC'] %>');

    stripe.redirectToCheckout({
      sessionId: '<%= @stripe_session.id %>'
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  })();
</script>

