%h3.title カートの商品

.content
  %table.table.table-striped
    = render cart.items, current_item: current_item

    %tr
      %td{ colspan: 2 } 合計
      %td.has-text-right
        = number_to_currency(cart.total_price)

