%h1.title Product Catalog

%hr

%ul
  - @products.each do |product|
    %li.columns
      .column.is-2
        = link_to image_tag(product.image_url(:thumb)), product
      .column
        .columns.is-vcentered
          .column.is-half
            .field.is-size-3
              = link_to product.title, product
          .column.is-half
            .field.is-size-4<
              = product.price
              %span.is-size-5<
                $
        .is-hidden-mobile
          = product.description.truncate(200)
    %hr

