- content_for :navbar do
  %nav.navbar.is-danger.is-fixed-top{ role: :navigation, aria: { label: "main navigation" } }
    .navbar-brand
      .navbar-item.is-size-4
        ADMIN PAGE

= render template: 'layouts/application'